[data-tooltip-right] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

[data-tooltip-right]:before,
[data-tooltip-right]:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

[data-tooltip-right]:before {
  position: absolute;
  bottom: 100%;
  left: 0%;
  margin-bottom: 5px;
  margin-left: -55px;
  padding: 7px;
  width: 95px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip-right);
  text-align: center;
  font-size: 10px;
  line-height: 1.2;
}

[data-tooltip-right]:after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

[data-tooltip-right]:hover:before,
[data-tooltip-right]:hover:after {
  visibility: visible;
  opacity: 1;
}